* {
  --mdc-theme-primary: #125cdb;
  --mdc-theme-secondary: #ee8402;
  --mdc-theme-background: #ffffff;
  --mdc-theme-surface: #ffffff;
  --mdc-theme-on-primary: #ffffff;
  --mdc-theme-on-secondary: #000000;
  --mdc-theme-on-surface: #000000;
}

body {    
  margin: 0;
}

.header-padding {
  padding-top: 64px;
  margin-left: 24px;
  margin-right: 24px;
}

.mdc-card {
  margin-left: 25%;
  margin-right: 25%;
}

.mdc-card__title {
  padding: 12px;
  padding-bottom: 0px;
}

.mdc-text-field {
  margin: 12px;
}

.mdc-list-item {
  cursor: default !important;
}

.shortlink-delete {
  cursor: pointer;
}

.popup-button {
  margin: 12px;
  margin-top: 0px;
  float: right;
}