<div class="mdc-form-field">
  <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon" id="shortlink-textfield">
    <i class="material-icons mdc-text-field__icon">link</i>
    <input class="mdc-text-field__input" required id="shortlink-input">
    <div class="mdc-notched-outline">
      <div class="mdc-notched-outline__leading"></div>
      <div class="mdc-notched-outline__notch">
        <label class="mdc-floating-label" for="shortlink-textfield">Shortlink</label>
      </div>
      <div class="mdc-notched-outline__trailing"></div>
    </div>
  </div>
</div>
<br>
<div class="mdc-form-field">
  <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon" id="result-textfield">
    <i class="material-icons mdc-text-field__icon">link</i>
    <input class="mdc-text-field__input" required id="result-input">
    <div class="mdc-notched-outline">
      <div class="mdc-notched-outline__leading"></div>
      <div class="mdc-notched-outline__notch">
        <label class="mdc-floating-label" for="result-textfield">Destination</label>
      </div>
      <div class="mdc-notched-outline__trailing"></div>
    </div>
  </div>
</div>

<br>

<button class="mdc-button mdc-button--outlined popup-button" id="add-button" disabled>
  <i class="material-icons mdc-button__icon">add</i>
  <span class="mdc-button__label">Add</span>
</button>

<div class="mdc-snackbar" id="add-success-snackbar">
  <div class="mdc-snackbar__surface">
    <div class="mdc-snackbar__label"
         role="status"
         aria-live="polite">
      Successfully added shortlink!
    </div>

    <div class="mdc-snackbar__actions">
      <button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss">close</button>
    </div>
  </div>
</div>

<div class="mdc-snackbar" id="add-failure-snackbar">
  <div class="mdc-snackbar__surface">
    <div class="mdc-snackbar__label"
         role="status"
         aria-live="polite">
      Failed to add shortlink.
    </div>

    <div class="mdc-snackbar__actions">
      <button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss">close</button>
    </div>
  </div>
</div>